# 基础镜像 runpod/pytorch:2.4.0-py3.11-cuda12.4.1-devel-ubuntu22.04 已含 torch 2.4.0+cu124
# 此处只补 zi2zi-JiT 运行所需的额外依赖
runpod>=1.7
opencv-python==4.11.0.86
timm==0.9.12
tensorboard==2.10.0
scipy==1.9.1
einops==0.8.1
gdown==5.2.0
fonttools
Pillow
pytorch-msssim
lpips
tqdm
matplotlib
git+https://github.com/LTH14/torch-fidelity.git@master#egg=torch-fidelity
